#s-33b61cf8-5da0-4a90-8fac-02a21d18badb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33b61cf8-5da0-4a90-8fac-02a21d18badb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-33b61cf8-5da0-4a90-8fac-02a21d18badb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}