#s-33b61cf8-5da0-4a90-8fac-02a21d18badb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-33b61cf8-5da0-4a90-8fac-02a21d18badb #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 178px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-33b61cf8-5da0-4a90-8fac-02a21d18badb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}