#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-92ca6f97-e5e2-4c3f-a6a6-db28200df9fb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}